<ng-container *ngIf="data !== 5; then outer; else inner"></ng-container>
<ng-template #outer>

  <p-accordionTab header='Header 1'>
    {{data}}
  </p-accordionTab>
  <p-accordionTab [header]="data">
    <p-accordion>
      <app-accordion-recursive-page [first]="false" [data]="data + 1"></app-accordion-recursive-page>

      <app-accordion-recursive-page [first]="false" [data]="data + 1"></app-accordion-recursive-page>
    </p-accordion>
  </p-accordionTab>
</ng-template>

<ng-template #inner>
  <ng-container>
    <p-accordionTab header='Header 1'>
      {{data}}
    </p-accordionTab>
  </ng-container>
</ng-template>